<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title>Dischi Musicali</title>
    </head>
    <body>

        <div id="root">
            <h1>Album Artisti</h1>
            <div class="contenitore_input">
                <select class="selezione_genere" v-model="seleziona_genere">
                    <option value="Tutti i generi">Tutti i generi</option>
                    <option :value="genre" v-for="genre in generi">{{ genre }}</option>
                </select>
            </div>
            <div class="contenitore-cd">
                <div class="cd" v-for= "disco_album in dischi"
                v-if="seleziona_genere == disco_album.genre || seleziona_genere == 'Tutti i generi'">
                    <img :src="disco_album.poster" :alt="disco_album.title">
                    <h3>{{ disco_album.title }}</h3>
                    <span class="author">{{ disco_album.author }}</span>
                    <span class="year">{{ disco_album.year }}</span>
                </div>
            </div>
        </div>
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
